<h1>Chat room</h1>

<div id="chat">
  <% @messages.each do |message| %>
    <p><%= message.content %></p>
  <% end %>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>